<mat-toolbar color="primary">
  <a routerLink="/" class="space"><span>My Message</span></a>
  <ul>

    <li>
      <a *ngIf = "userIsAunthinticated" routerLink="create" mat-button routerLinkActive="mat-accent">Create Post</a>
    </li>
    <li>
      <a *ngIf = "!userIsAunthinticated" routerLink="login" mat-button routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a *ngIf = "!userIsAunthinticated" routerLink="signup" mat-button routerLinkActive="mat-accent">SignUp</a>
    </li>
    <li>
      <button *ngIf = "userIsAunthinticated" mat-button>LogOut</button>
    </li>
  </ul>
</mat-toolbar>
